body{
	background-color: #f4f4f4;
	margin: 0;
	line-height: 1.6em;
}

#mainHeader{
	background-color: coral;
	color: White;
	font-size: 30px;
}

#mainHead{
	padding-left: 100px;
}

#logo{
	float: left;
	padding-left: 150px;
}

#mainHeader img{
	height: 100px;
	padding-right: 10px;
}

#mainFooter{
	background-color: #333;
	color: #fff;
	text-align: center;
	padding: 10px;
	margin-bottom: 0px;
}

.container{
	margin: auto;
	overflow: hidden;
}

#navbar{
	padding-left: 100px;
	background-color: #333;
	color: #fff;
}

#navbar li{
	display: initial;
}

#navbar ul{
	padding: 0;
}

#navbar a{
	color: white;
	font-size: 20px;
	text-decoration: none;
}

#navbar a:hover{
	color: black;
}

.button{
	padding: 20px;
}

.button:hover{
	background-color: white;
}

#showcase{
	background-image: url("showcase.jpg");
	text-align: center;
	height: 200px;
	background-position: center;
}

#showcase h1{
	color: white;
	font-size: 40px;
	padding-top: 60px;
}

.SecHead1{
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 50px;
	text-align: center;
	color: #555;
}

.SecBody1{
	float: left;
	width: 70%;
	box-sizing: border-box;
	padding: 30px;
	font-size: 30px;
}

#bio{
	color: white;
	background-color: #333;
	float: right;
	box-sizing: border-box;
	width: 25%;
	margin-top: 20px;
	margin-right: 50px;
	padding: 20px;
	padding-top: 10px;
	padding-right: 50px;
	font-size: 25px;
}

.jt{
	color: #ff3;
}

#bio ul{
	padding: 0;
	list-style: none;
}

.SecHead2{
	color: #fff;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 50px;
	text-align: center;

}

.SecBody2{
	box-sizing: border-box;
	padding: 30px;
	font-size: 30px;
	color: #fff;
	background-color: #555;
}

.second{
	overflow: hidden;
	background-color: #555;
}

.SecBody3{
	box-sizing: border-box;
	padding: 30px;
	font-size: 30px;
}